.bgimg{
	z-index: 1;
	height: 299px;
	background-image: url(../images/nav/bb.png);
	background-position: center top;
  	background-repeat: no-repeat;
}
/****************背景图*********************/
.column{
	width: 1200px;
	margin: 0px auto;
	padding-top: 10px;
}
.column .topnav{
	width: 1200px;
	border-bottom: 1px solid #b2b2b2;
}
.column .topnav .hot{
	width: 220px;
	/*height: 93px;*/
}
.column .topnav .hot p{
	padding-top: 90px;
	color: #666666;
}
.column .topnav .hot p a{
	color: #666666;
}
.column .topnav .nav{
	width: 980px;
}
.column .topnav .nav .list1{
	display: block;
	width: 145px;
	height: 112px;
	float: left;
	text-align: center;
	line-height: 112px;
	color: #003967;	
}
.column .topnav .nav .box{
	width: 170px;
	float: left;
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}
.column .topnav .nav .box p a{
	color: #676767;
}
.column .mainleft{
	margin-top: 10px;
	padding-right: 20px;
	width: 199px;
	position: relative;
}
.column .mainleft p a{
	display: block;
	color: white;
	text-align: center;
	padding: 10px 50px;
	background-color: #072c4c;
}
.column .mainleft .content{
	margin-top: 20px;
	width: 199px;
	padding-bottom: 20px;
	background-color: #adc0c4;
}
.column .mainleft .content:after{
	content: "";
	height: 1960px;
	border-right: 1px dashed #b2b2b2;
	position: absolute;
	top: -9px;
	left: 206px;
}
.column .mainleft .content ul li{
	list-style-type: square;
	list-style-position: inside;
	color: #666666;
}
.column .mainleft .content ul .same:hover{
	color: white;
}
.column .mainleft .content ul li a{
	padding: 0px 20px 3px 27px;
	display: block;
	color: #666666;
	font-size: 12px;
}
.column .mainleft .content ul li a:hover{
	color: white;
	background-color: #072c4c;
}
.column .mainleft .content ul .text1{
	padding: 10px 20px 0px 20px;
	font-size: 20px;
	color: #353e45;
	list-style: none;
}
.column .mainleft .content ul{
	position: relative;
}
.column .mainleft .content ul .text1:before{
	content: "";
	width: 0px;
	height: 0px;
	position: absolute;
	top: 20px;
	left: 3px;
	border: 6px solid transparent;
	border-top-color: #f22800;
}
.column .mainright{
	width: 980px;
	 margin-top: 10px;
}
.column .mainright ul{
	float: right;
}
.column .mainright ul li{
	float: left;
}
.column .mainright ul li a{
	display: block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #08508b;
	margin: 0px 3px;
	border: 1px solid #cccccc;
}
.column .mainright ul li a:hover{
	color: white;
	border-color: #08508b;
	background-color: #08508b;
}
.column .mainright ul li a:hover span{
	color: white;
}
.column .mainright ul .specal1{
	height: 30px;
	line-height: 30px;
	margin-right: 60px;
}
.column .mainright ul .specal2{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
.column .mainright ul .specal a{
	width: 75px;
	height: 30px;
	text-indent: 10px;
	line-height: 30px;
	color: #08508b;
}
.column .mainright ul .specal a span{
	color: #262626;
}
.column .master{
	width: 980px;
	 margin-top: 40px;
	 position: relative;
}
.column .master .content1{
	width: 460px;
	height: 320px;
	position: relative;
	margin-bottom: 160px;
	background-color: #eeeeee;	
	background-image: url(../images/nav/lo.png);
	background-repeat: no-repeat;
	background-position: 10px 20px;
}
.column .master .content2{
	margin-bottom: 60px;
}
.column .master .content:after{
	content: "";
	width: 988px; 
	border-bottom: 1px dashed #b2b2b2;
	position: absolute;
	bottom: -85px;
	left: -9px;
}
.column .master .content1 a img{
	padding: 14px 35px 14px 15px;
}
.column .master .content1 .text{
	position: absolute;
	bottom: 10px;
	left: 156px;
}
.column .master .content1 .content11{
	width: 460px;
	height: 320px;
	background-color: #171717;
	opacity: 0.9;
	/*背景颜色透明度*/
	position: absolute;
	top: 0px;
	display: none;
}
.column .master .content1 .content11 h3{
	background-image: url(../images/nav/345.png);
	background-repeat: no-repeat;
	background-position: 4px 1px;
	text-indent: 40px;
	color: #fe9901;
	margin-bottom: 18px;
}
.column .master .content1 .content11 .box{
	margin-left: 50px;
	padding-left: 20px;
	margin-top: 66px;
	padding-top: 20px;
	width: 345px;
	border-left: 1px solid #f22800;
}
.column .master .content1 .content11 .box span{
	display: inline-block;
	margin-top: 18px;
}
.column .master .content1 .content11 .box span a{
	padding:10px 30px;
	display: block;
	width: 95px;
	color: #fe9901;
	border-radius: 30px;
	text-align: right;
	background-color: white;
	position: relative;
}
.column .master .content1 .content11 .box span a i{
	position: absolute;
	top: 5px;
	left: 6px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #ff5a0a;
	background-image: url(../images/nav/cc.png);
	background-repeat: no-repeat;
	background-position: 3px 8px;
}
.column .master .content1 .content11 p{
	color: #c92001;
}
.column .master .content1:hover .content11{
	display: block;
}
.column .Foot{
	margin-bottom: 60px;
}
.column .Foot .footer{
	margin-right: 282px;
	margin-left: 282px;
}
.column .Foot li{
	float: right;
}
/*******************主体部分************************/
.foot{
	background-image: url(../images/index/fot.png);
	padding: 20px 0px;
}
.foot .center{
	width: 1200px;
	margin: 0px auto;
	position: relative;
}
.foot .center .hot{
	height: 100px;
	line-height: 100px;
	font-size: 20px;
	color: white;
	text-indent: 612px;
	background-image: url(../images/nav/logo.png);
	background-repeat: no-repeat;
	background-position: 403px center;
}
.foot .center .hot:after{
	content: "";
	height: 60px;
	position: absolute;
	top: 22px;
	left: 600px;
	border-left: 1px solid #e4e6e6;
}
.foot .center .footer1{
	position: relative;
}
.foot .center .footer1 img{
	vertical-align: middle;
}
.foot .center .footer1 span{
	color: #969898;
}
.foot .center .footer1 span:after{
	content: "";
	height: 0px;
	width: 0px;
	position: absolute;
	top: 19px;
	left: 173px;
 	border: 9px solid transparent;
  	border-top-color: #206fb5;
}
.foot .center .footer2{
	width: 670px;
	margin-left: 87px;
}
.foot .center .footer2 span,a{
	color:#969898;
}
.foot .center .footer2 .ss{
	margin-left: 38px;
}
.foot .center .footer2 ul .ll{
	font-size: 18px;
	color:#969898;
	margin-bottom: 6px;
}
.foot .center .footer2 .link2{
	margin-left: 120px;
	margin-right: 120px;
}
.foot .center .footer2 .link4{
	margin-left: 120px;
}
.foot .center .footer3 p{
	font-size: 12px;
	color:#969898;
}
.foot .center .footer3 div{
	width: 108px;
	height: 108px;
	margin-top: 6px;
	background-image: url(../images/nav/erweima.png);
}
/*******************尾部************************/
.sadebar{
	position: fixed;
	right: 10px;
	top: 59%;
}
.sadebar ul li a{
	display: block;
	width: 44px;
	height: 30px;
	background-color: #003967;
}
.sadebar ul .pg1 a{
	padding-top: 20px;
	background-image: url(../images/nav/33.png);
	background-repeat: no-repeat;
	background-position: center 22px;
}
.sadebar ul .pg2 a{
	background-image: url(../images/nav/22.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.sadebar ul .pg3 a{
	padding-bottom: 21px;
	background-image: url(../images/nav/11.png);
	background-repeat: no-repeat;
	background-position: 12px 10px;
}
/***************固定侧导航栏*******************/
